[color]
    status = auto
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    ui = auto
[user]
    name = Robert Boloc
    email = robertboloc@gmail.com
[alias]
    lg = log --decorate --graph --oneline
    snapshot = !git stash save "[Snapshot of $(date)]" && git stash apply "stash@{0}"
[diff]
    algorithm = patience
[core]
    editor = vim
[push]
    default = current
